.Header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 5%;
  background: transparent;
}

.Header ul {
  display: flex;
  gap: 45px;
}
.Header ul > li {
  list-style: none;
}
.mobile{
    display: none;
}
@media only screen and (max-width: 800px) {
  .webTab {
    display: none;
  }
  .mobile{
    display: initial;
  }
  
}
